.container {
    display: flex;
    justify-content: flex-start; /* Move a SideBar para a esquerda */
    align-items: flex-start;
    gap: 20px; /* Espaçamento horizontal entre a SideBar e a ScheduleView */
    padding: 20px;
}

.ScheduleView {
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 80%; /* Aumenta a largura da tabela de horários */
    display: flex;
    flex-direction: column;
    margin: auto;
}

.SideBar {
    width: 20%; /* Define a largura da barra lateral */
    background-color: #f4f4f4; /* Fundo cinzento */
    padding: 15px 20px; /* Espaçamento interno */
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos horizontalmente */
    justify-content: flex-start; /* Alinha os elementos no topo */
    gap: 15px; /* Espaçamento vertical entre os elementos */
    order: -1; /* Move a SideBar para a esquerda */
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    font-size: 14px; /* Aumenta o tamanho da fonte */
    margin: auto;
}

.schedule-table th, .schedule-table td {
    border: 1px solid black;
    padding: 10px; /* Aumenta o espaçamento interno das células */
}

.schedule-table th {
    background-color: #e0e0e065;
    color: rgb(96, 96, 96);
    font-weight: bold;
    text-align: left;
}